body {
    font-family: Lucida;
    font-size: min(10vw, 30px);
    justify-content: center;
    text-align: center;
}
.container{
    display:block;
    border: 0.5vw solid black;
    padding: 1vmax 5vmax;
}

select, input {
    display:block;
    margin:0 auto;
    justify-content: center;
    padding: 1vmax 5vmax;
    border:0.1vmax solid black;
    font-size: min(10vw, 30px);
    font-family: Lucida;
    margin-bottom: 2vw;
}

input {
    width: 10vw;
    text-align: center;
}

#result>p {
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 20vw;
    /*background-color: rgb(14, 6, 82);*/
}

footer {
    margin-bottom : 0;
    font-size: min(10vw, 20px);
}
